@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
  
  --color-bg: #09090b;
  --color-card: #18181b;
  --color-border: #27272a;
  --color-accent: #10b981;
  --color-text: #fafafa;
  --color-text-dim: #a1a1aa;
}

@layer base {
  body {
    @apply bg-bg text-text antialiased;
  }
}
