@import "tailwindcss";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
  
  --color-bg: #09090b;
  --color-card: #18181b;
  --color-border: #27272a;
  --color-accent: #10b981;
  --color-text: #fafafa;
  --color-text-dim: #a1a1aa;
}

@layer base {
  body {
    @apply bg-bg text-text antialiased;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  height: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-border rounded-full;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-text-dim;
}
